/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Color */
:root {
  --primary-color: #0d2256;
  --secondary-color: #ff6d1f;
  --text-color: #1e3e8a;
}

/* HTML Tag */
html {
  scroll-behavior: smooth;
}

/* Body Tag */
body {
  font-family: "Montserrat";
}

/* Navbar Tag */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  padding: 20px;
  color: #fff;
}

/* Navbar Nav */
.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  justify-content: center;
  transition: all 0.3s;
}

.navbar-button {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

/* Home Section */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 70px;
  color: var(--text-color);
}

.hero span {
  color: var(--secondary-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.site {
  text-align: center;
  margin-bottom: 20px;
}

.hero .home-button {
  display: flex;
  justify-content: center;
}

.home-button a {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Prodi Section */
.prodi {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prodi-title h1 {
  margin-bottom: 20px;
}

.prodi-item {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 100px;
  font-weight: bolder;
}

.prodi-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/* UKM Section */
.ukm {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ukm-title h1 {
  margin-bottom: 20px;
}

.ukm-item {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  font-weight: bolder;
}

.ukm-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

/* Prodi dan UKM Box */
.prodi-card,
.ukm-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

/* Footer Section */
.footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .prodi-item {
    gap: 50px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  nav {
    flex-direction: column;
    gap: 25px;
  }

  .prodi-item {
    gap: 25px;
  }

  .ukm-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .prodi-card,
  .ukm-card {
    padding: 15px;
  }

  .ukm-card img {
    width: 120px;
    height: 120px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  nav {
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    padding-bottom: 20px;
  }

  .hero {
    flex-direction: column;
    padding: 20px;
  }

  .logo-home {
    display: none;
  }

  .prodi {
    margin-top: 30px;
  }

  .prodi-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12.5px;
  }

  .ukm-item {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .prodi-card,
  .ukm-card {
    padding: 15px;
  }

  .ukm-card img {
    width: 70px;
    height: 70px;
  }

  .prodi-card img {
    width: 100px;
    height: 100px;
  }

  .all-logo {
    flex-direction: column;
    gap: 50px;
  }
}
